doctype html
html
    head
        title TxtConvert
        meta(name='viewport', content='width=device-width, initial-scale=1.0')       
        // Tocas UI 
        link(href='//cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css',rel='stylesheet')
        script(src="//cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js")
        // JQ 
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        // axios 
        script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js')
        // 編碼轉換
        script(src="//cdnjs.cloudflare.com/ajax/libs/jschardet/1.4.1/jschardet.min.js")
        script(src="//cdn.rawgit.com/inexorabletash/text-encoding/4d1b5456/lib/encoding-indexes.js")
        script(src="//cdn.rawgit.com/inexorabletash/text-encoding/4d1b5456/lib/encoding.js")
        // index 
        link(href='./index.css',rel='stylesheet')
        script(src="./index.js")
        // Theme Color 
        meta(name="theme-color" content="#3f51b5")
    body
        .ts.attached.heading.slate
            .ts.narrow.container
                span.header TxtConvert 1.0
                span.description 轉換 txt 檔案
        
        .ts.narrow.container
            
            #uploader.ts.basic.dashed.clickable.slate.no.earlyspring
                input#upload(type='file')
                i.upload.symbol.icon
                span.header 載入資料
                span.description 將檔案拖拉至此處或是點擊此處來選取檔案。
            #zhconvert
                a(href='https://zhconvert.org/') 本程式使用了繁化姬的 API 服務
            #loader.ts.centered.inline.loader.text.indeterminate 正在將檔案發給小熊貓
            #preview(style='display:none')
                h3.ts.header 預覽
                select.ts.basic.fluid.dropdown(id='encode')
                    option utf-8
                    option(selected="selected") gbk
                    option gb18030
                pre.ts.top.attached.segment
                .ts.bottom.attached.fluid.buttons
                    .ts.primary.button(data-start) 開始轉換

            #download(style='display:none')
                a.ts.primary.labeled.icon.button(download="")
                    i.download.icon
                p 轉換完畢！
            #error.ts.inverted.negative.message(style='display:none')
                .header 錯誤
                p //
            

